[submodule "Courses/WebDevelopment-for-Beginners"]
	path = Courses/WebDevelopment-for-Beginners
	url = https://github.com/coding4girls/WebDevelopment-for-Beginners
[submodule "Courses/Working-with-Django"]
	path = Courses/Working-with-Django
	url = https://github.com/coding4girls/Working-with-Django
[submodule "Courses/Course-Learn-Python"]
	path = Courses/Course-Learn-Python
	url = https://github.com/coding4girls/Course-Learn-Python
